* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  font-family: $font-main;
  font-size: $font-size;
  line-height: 1.15;

  overflow-y: scroll;

  color: $color-gray;
}

@mixin lg-min {
  @media (min-width: $lg)
  {
    @content;
  }
}

@mixin lg-md {
  @media (max-width: $lg - 1px) and (min-width: $md)
  {
    @content
  }
}

@mixin md {
  @media (max-width: $md - 1px)
  {
    @content
  }
}

h1 {
  letter-spacing: 0.08em;
  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2em;

  @include lg-min {
    font-size: 3.75rem;
  };
  @include lg-md {
    font-size: 2.5rem;
  };
  @include md {
    font-size: 1.875rem;
  };
}

h3 {
  letter-spacing: 0.05em;
  font-size: 1.125rem;
  color: $color-gray;
}


a {
  text-decoration: none;

  color: $color-light;
}



.btn-accent,
.btn {
  display: block;
  height: 60px;
  padding: 18px $gap;

  transition: background-color 0.5s, border-color 0.5s;
  text-align: center;
  letter-spacing: 0.1em;

  border-width: 2px;
  border-style: solid;
  font-size: 1.125rem;
}

.btn-accent {

  border-color: $color-primary;
  background-color: rgba($color-primary, 0.8);
  @include sm-min {
    min-width: 350px;
  }
  @include sm {
    width: 100%;
  }
}

.btn {
  border-color: $color-light;
  background-color: rgba($color-light, 0.1);

  @include lg-md {
    min-width: 200px;
    height: 50px;
    padding: 14px $gap;
  }
  @include md {
    min-width: 170px;
    height: 40px;
    padding: 10px $gap;
    letter-spacing: 0.05em;
  }
}

.btn-accent:hover,
.btn-accent:focus,
.btn:hover,
.btn:focus {
  background-color: $color-accent;
}


